.newsImage {
  width: 125px;
  height: 85px;
  object-fit: cover;
  object-position: 50% 50%;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

h3 {
  margin: 0px;
}
h4 {
  margin: 0px;
}
.newsCard {
  position: relative;
  padding-bottom: 50px;
}
.cardActions > button {
  width: 115px;
}
.cardActions {
  position: absolute;
  right: 24px;
  bottom: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsfeed-wrapper {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
}
.mat-spinner {
  margin-top: 25px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.upper-wrapper {
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .newsfeed-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .cardContent {
    display: flex;
  }
  .newsfeed-wrapper {
    grid-template-columns: 1fr;
  }
  .cardActions > button {
    width: 180px;
  }
  .newsImage {
    width: 150px;
    max-height: none;
  }
}
@media only screen and (max-width: 640px) {
  .cardContent {
    display: initial;
  }
  .newsfeed-wrapper {
    grid-template-columns: 1fr;
  }
  .cardActions > button {
    width: 180px;
  }
  .newsImage {
    width: 150px;
    max-height: none;
  }
}
