.newsImage {
  max-width: 150px;
  max-height: 100px;
  object-fit: cover;
  object-position: 50% 50%;
  float: left;

  margin-right: 15px;
  margin-bottom: 15px;
}

h3 {
  margin: 0px;
}
h4 {
  margin: 0px;
}
// .newsCard:hover {
//   background-color: #f0f0f033;
//   cursor: pointer;
//   box-shadow: 0px -10px 45px -10px rgba(141, 141, 141, 0.404);
// }
.newsCard {
  position: relative;
  padding-bottom: 50px;

  // box-shadow: 0 -10px 49px -15px rgba(187, 191, 193, 0.589);
}
.cardActions > button {
  width: 125px;
}
.cardActions {
  position: absolute;

  right: 24px;
  bottom: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsfeed-wrapper {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
}

.mat-spinner {
  margin-top: 25px;
  position: absolute;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;
}

.upper-wrapper {
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .newsfeed-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .newsfeed-wrapper {
    grid-template-columns: 1fr;
  }
  .cardActions > button {
    width: 180px;
  }
}
