:host ::ng-deep img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
:host ::ng-deep video {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.close-wrapper {
  position: absolute;
  right: 35px;
  bottom: 15px;
}

.dialog-content {
  height: 100%;

  overflow: auto;
}
