.newsImage {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
  float: left;

  margin-right: 15px;
  margin-bottom: 15px;
}

h3 {
  margin: 0px;
}
.newsCard:hover {
  background-color: #f0f0f033;
  cursor: pointer;
  box-shadow: 0px -10px 45px -10px rgba(141, 141, 141, 0.404);
}
.newsCard {
  padding: 0px;
  display: block;
  box-shadow: 0 -10px 49px -15px rgba(187, 191, 193, 0.589);
}
@media only screen and (max-width: 600px) {
  .newsfeed-wrapper {
    grid-template-columns: 1fr;
  }
}

.newsfeed-wrapper {
  grid-column-gap: 15px;
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr 1fr;
}
.upper-wrapper {
  display: flex;
  flex-direction: row; // Not really necassary though
  justify-content: center; // Or you could use "space-around"
  align-items: center;
}
