img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
video {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.close-wrapper {
  position: absolute;
  right: 35px;
  bottom: 15px;
}
.dialog-content {
  height: 100%;
  overflow: auto;
}
.newsPopup {
  height: 100vh;
  min-width: 80vw;
  z-index: -1;
}
.mat-dialog-container {
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 80vw;
}

@media only screen and (max-width: 1024px) {
  .newsPopup {
    height: 100vh;
    width: 90vw;
    max-width: none !important;
  }
  .mat-dialog-container {
    width: 90vw;
  }
}
@media only screen and (max-width: 768px) {
  .newsPopup {
    height: 100vh;
    width: 100vw;
    max-width: none !important;
  }
  .mat-dialog-container {
    width: 100vw;
  }
}
